<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
    <link rel="stylesheet" type="text/css" href="../static/main.css">
</head>
<body>
<div id="navbar">
    <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/search">Search for Flights</a> </li>
        <li style="float:right"><a href="/signIn">Sign In</a></li>
    </ul>
</div>
<h1>Search</h1>
<p>This page will let someone search for and then book a flight if they are signed in.</p>
</body>
</html>